{% extends 'base.html.twig' %}

{% block title %}Excercise index{% endblock %}

{% block body %}
    <h1>Excercise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Excercise_number</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for excercise in excercises %}
            <tr>
                <td>{{ excercise.id }}</td>
                <td>{{ excercise.excerciseNumber }}</td>
                <td>{{ excercise.createdAt ? excercise.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ excercise.updatedAt ? excercise.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ excercise.deletedAt ? excercise.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_excercise_show', {'id': excercise.id}) }}">show</a>
                    <a href="{{ path('app_excercise_edit', {'id': excercise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_excercise_new') }}">Create new</a>
{% endblock %}
